body {
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    color: #fff; /* Alteração: cor de texto branca */
    background-image: url(universo.png);
}

h1 {
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

#game-container {
    display: none;
    margin-top: 20px;
}

#result-container {
    display: none;
    margin-top: 20px;
}

#resultado {
    font-size: 32px;
    color: #4CAF50;
}

.imagem-centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }